@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background: #0a0a0b;
}

.contain{
    padding: 0 2em;
}

.name-link{
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Prata', serif;
    
}

.btn{
    background-color: #fbe850;
    color: black;
    font-size: 1.5em;
    padding: 1em 1.8em ;
    border-radius: 5px;
    border: none;
    transition: all 0.1s;
    cursor: pointer;
}

.btn:hover{
    background-color: #fceb6f;
}

.btn-nav{
    padding: .4em 1em;
    font-size: 1.3em;
    float: right;
    margin: 0;
}

.material-symbols-outlined{
    clear: both;
}

h2{
    font-size: 2.2em;
    margin: 0.5em 0;
    font-family: 'Prata', serif;
}

p{
    font-size: 1.4em;
    color: #ccc;
    line-height: 1.5em;
    font-family: 'Inter', sans-serif;
}

.icon{
    color: white;
    font-size: 2em;
    
}

.header-nav{
    margin-top: 1em;
}

.header-nav ul{
    list-style-type: none;
    margin-top: 0.5em;
    clear: right;
    background-color: #2e3038;
    margin-top: 1.3em;
}

.header-nav ul li{
    width: 100%;
    text-align: center;
}


.header-nav ul li a{  
    padding: 1em 0;
    display: block;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;

}

.header-nav ul li:hover{
    background-color: #444752;
    transition: all 1s;
}

#menu{
    display: none;
}

.material-symbols-outlined{
    text-align: center;
    position: absolute;
    left: 48%;
}

.header-text h1{
    font-size: 3em;
    margin-bottom: 0.3em;
    font-family: 'Prata', serif;
}



.header-logos{
    height: 20em;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(3, 1fr);
    row-gap: 1em;
    align-items: center;
    justify-items: center;
}


.cards-text{
    margin-top: 3em;
    margin-bottom: 4em;
}

.cards-text img{
    width: 100%;
}

.main-text{
    background-color: #2e3038;
}

.communities{
    padding: 4em 0;
}

.communities h2{
    margin-bottom: 1em;
}

.communities p{
    margin: 2em 0;
}

.communities p:nth-child(3){
    margin-bottom: 4em;
}

.contact{
    margin: 5em 0;
}
.contact p{
    margin-bottom: 0.8em;
}

.footer{
    background-color: #2e3038;
}

.footer a{
    display: block;
    padding: 1em 0;
}



@media screen and (min-width:768px) and (max-width:1023px) {
    .contain{
        padding: 0 3em; 
    }
    

    .header-text{
        margin-top: 3em;
        text-align: center;
    }

    .header-logos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(2, 1fr);
        row-gap: 1em;
        align-items: center;
        justify-items: center;
    }

}

@media screen and (min-width:1024px){
    .contain{
        padding: 0 8em;
    }

    .header-nav span{
        display: none;
    }

    .header-logos{
        margin-bottom: 0;
    }

    #menu{
        display: flex;
        margin-bottom: 2em;
    }

    .header-logos{
        display: flex;
        justify-content: space-around;
        height: 5em;
    }

    .cards-container{
        display: flex;
        justify-content: space-between;
    }

    .cards-text{
        width: 45%;
    }

    .communities{
        display:flex;
        justify-content: space-between;
        padding: 1.5em 0 0;
    }

    .comunities-text{
        width: 45%;
    }

    .comunities-text p{
        margin: 1em;
    }

    .communities p:nth-child(3){
        margin-bottom: 3em;
    }

    p{
        font-size: 1.1em;
    }

    .btn-main{
        padding: 1em;
        font-size: 1.3em;
    }

    .contact{
        margin: 3em 0;
    }

}